@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* glowing text */

.custom-text-css:hover{
  filter: drop-shadow(0 0 15px rgba(234, 234, 240, 0.5));
  background-color: transparent;
}

/* glowing button */
.custom-button-css{
  transition: all 1s ease-in-out;
}

.custom-button-css:hover{
 background-color: #ededed;
 color: #171717;
 filter: drop-shadow(0 0 15px rgba(234, 234, 240, 0.5));
 transition: all 1s ease-in-out;
}

/* glowing raven left side */

.raven_image{
  animation: glowingRaven 2s infinite ease-in-out;
}

@keyframes glowingRaven {
 
  0%{
    filter: drop-shadow(0 0 15px rgba(244, 192, 72, 0.5));
  }

  50%{
    filter: drop-shadow(0 0 25px rgba(241, 158, 4, 0.5));
  }
  
  100%{
    filter: drop-shadow(0 0 15px rgba(244, 192, 72, 0.5));
  }

}

/* raven image on right side */

.raven_image_right{
  transform: scaleX(-1);
  animation: glowingRaven 2s infinite ease-in-out;
  
}

/* custom sidebar */

.close_sidebar{
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}

.open_sidebar{
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

/* custom modal */
.close_modal {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.open_modal {
  opacity: 1;
  transform: translate(-50%, -30%); 
  pointer-events: auto;
}


section{
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3588ff;
  overflow: hidden;
}

section .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("/wave.png");
  background-size: 1000px 100px ;
}

section .wave.wave1{
  animation: animate 4s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: -2s;
  
}

section .wave.wave2{
   animation: animate 5s linear infinite;
   z-index: 2000;
   opacity: 0.8;
   animation-delay: -5s;
   bottom: 10px;
}

section .wave.wave3{
   animation: animate 10s linear infinite;
   z-index: 3000;
   opacity: 0.3;
   animation-delay: -7s;
   bottom: 10px;
}

section .wave.wave4{
   animation: animate 20s linear infinite;
   z-index: 4000;
   opacity: 0.2;
   animation-delay: -9s;
}

@keyframes animate {
   from{
    background-position-x: 0%;
   }
   to{
    background-position-x: 1000px;
   } 
}
